@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {

  --bg-card: #062226;

  --color-green: rgb(86, 209, 4);

}
/*--rESET--*/
*{
  box-sizing: border-box;
}
html{
  font-family:'Lato', sans-serif; ;
}
body{
  margin: 0;
  background-color: #05292E;
}
h1,h2,h3,p,ul{
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  list-style: none;
  padding-left: 0;
}
button{
  cursor: pointer;
  
}
img {

  width: 100%;
  
}
input{
  font-family: inherit;
  border: none;
  
}




